

{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{%static 'images/banners/Season-Fashion-Sale-Flyer-1-1448x2048.jpg'%}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

 <header class="section-heading">
	
	{% if user.is_authenticated %}
		<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	{% else %}
		<a href="#" class="btn btn-outline-primary float-right">See all</a>
	{% endif %}   <!--while clicking see all, it goes to store page-->
	<h3 class="section-title">Popular products</h3>
    
 </header><!-- sect-heading -->

	
<div class="row">
	{% for product in products|slice:":8" %}   <!--in the pjctmain views we create an instance named products for PopularProduct.thatswhy here forloop takes products and |slice:":8" is used to get only first 8 products as popularproducts-->
	<div class="col-md-3">
		<div class="card card-product-grid">
			{% if user.is_authenticated %}
				<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
				<figcaption class="info-wrap">
					<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
					<div class="price mt-1">₹{{ product.price }}</div> <!-- price-wrap.// -->
				</figcaption>
			{% else %}
				<!-- Render placeholder content or provide an alternative link for non-authenticated users -->
				<a href="#" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
				<figcaption class="info-wrap">
					<span class="title">{{ product.product_name }}</span>
					<div class="price mt-1">Please log in to view price</div>
				</figcaption>
			{% endif %}
		</div>
	</div> <!-- col.// -->
	{% endfor %}
	
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






</body>
</html>

{% endblock %}