{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        {% if 'search' in request.path %}
            <h2 class="title-page">Search Result</h2>  <!--In search page we get this message-->
        {% else %}
            <h2 class="title-page">Our Store</h2>    <!--store page we get this message-->
        {% endif %}
        
    </div> <!-- container //  -->
    
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->

    <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Categories</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
                <div class="card-body">
                    
                    <ul class="list-menu">
                    <li><a href="{% url 'store' %}">All Products</a></li>
                    {% for category in links%}    <!--because of using context processor we have access of links to all templates-->
                    <li><a href="{{ category.get_url}}">{{category.category_name}}</a></li>
                    {% endfor %}
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
       <!-- <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Sizes </h6>
                </a>
            </header>
                <div class="filter-content collapse show" id="collapse_4" style="">
                <div class="card-body">
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> XS </span>
                  </label>
    
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> SM </span>
                  </label>
    
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> LG </span>
                  </label>
    
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> XXL </span>
                  </label>
            </div><!- card-body.// ->
            </div>
        </article> <!- filter-group .// ->-->
        
        <!--<article class="filter-group">
            <header class="card-header">
                <form action="{% url 'filter_and_sort_products' %}" method="GET">
                    {% csrf_token %}
                    <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Sort </h6>
                    </a>
                    <div class="filter-content collapse show" id="collapse_3" style="">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Sort</label>
                                    <select class="mr-2 form-control" name="min_price">
                                        <option value="0">Price</option>
                                        <option value="500">₹500-₹1000</option>
                                        <option value="1000">₹1000-₹1500</option>
                                        <option value="1500">₹1500-₹2000</option>
                                        <option value="2000">₹2000-₹5000</option>
                                        <option value="5000">₹5000-₹10000</option>
                                        <option value="10000">₹10000+</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary">Apply</button>
                        </div><!- card-body.// ->
                    </div>
                </form>
            </header>
        </article> <!- filter-group .// ->-->
        
        <article class="filter-group">
            <header class="card-header">
                <form action="{% url 'filter_and_sort_products' %}" method="GET" id="sort-form">
                    {% csrf_token %}
                    <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Sort and Filter</h6>
                    </a>
                    <div class="filter-content collapse show" id="collapse_3" style="">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="sort_by">Sort by:</label>
                                <select class="form-control" name="sort_by" id="sort_by" onchange="this.form.submit()">
                                    <option value="">Select...</option>
                                    <option value="price_asc" {% if request.GET.sort_by == 'price_asc' %}selected{% endif %}>Price: Low to High</option>
                                    <option value="price_desc" {% if request.GET.sort_by == 'price_desc' %}selected{% endif %}>Price: High to Low</option>
                                    <option value="newly_added" {% if request.GET.sort_by == 'newly_added' %}selected{% endif %}>Newly Added</option>
                                    <option value="name" {% if request.GET.sort_by == 'name' %}selected{% endif %}>Name_ascending</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="min_price">Min Price:</label>
                                <input type="number" class="form-control" name="min_price" id="min_price" value="{{ request.GET.min_price }}">
                            </div>

                            <div class="form-group">
                                <label for="max_price">Max Price:</label>
                                <input type="number" class="form-control" name="max_price" id="max_price" value="{{ request.GET.max_price }}">
                            </div>
                            <button type="submit" class="btn btn-block btn-primary">Apply</button>
                        </div><!-- card-body.// -->
                    </div>
                </form>
            </header>
        </article> <!-- filter-group .// -->
        
        <script>
            // Toggle display of sorting options based on selection
            document.querySelector('select[name="sort_by_price"]').addEventListener('change', function () {
                var sortOption = this.value;
                if (sortOption === 'price') {
                    // Hide newly added product sort option
                    document.getElementById('collapse_3').style.display = 'block';
                } else if (sortOption === '-created_at') {
                    // Show newly added product sort option
                    document.getElementById('collapse_3').style.display = 'none';
                }
            });
        </script>
        

        <!--<article class="filter-group">
            <header class="card-header">
                <a href="{% url 'filter_and_sort_products' %}" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Filter </h6>
                </a>
            </header>

            <div class="filter-content collapse show" id="collapse_3" style="">
                <div class="card-body">
                    
                    <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Filter</label>
                      <!- <input class="form-control" placeholder="$0" type="number"> ->
                          <select class="mr-2 form-control">
                            <option value="0">₹0-₹500</option>
                            <option value="500">₹500-₹1000</option>
                            <option value="1000">₹1000-₹1500</option>
                            <option value="1500">₹1500-₹2000</option>
                            <option value="2000">₹2000-₹5000</option>
                            <option value="5000">₹5000-₹10000</option>
                            <option value="10000">₹10000+</option>
                        </select>
                    </div>-->
                    <!--<div class="form-group text-right col-md-6">
                      <label>Max</label>
                          <select class="mr-2 form-control">
                            <option value="500">₹500</option>
                            <option value="1000">₹1000</option>
                            <option value="1500">₹1500</option>
                            <option value="2000">₹2000</option>
                            <option value="5000">₹5000</option>
                            <option value="10000">₹10000</option>
                            <option value="20000">₹20000+</option>
                        </select>
                    </div>
                    </div> --><!-- form-row.// -->
                    <!--<button class="btn btn-block btn-primary">Apply</button>
                </div>--><!-- card-body.// -->
            <!--</div>
        </article>--> <!-- filter-group .// -->
        
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto"><b>{{product_count}}</b> items found </span>
                
            </div>
    </header><!-- sect-heading -->
    
    <div class="row">
        {% if products %}
        {% for product in products %}
        <div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    
                    <a href="{{product.get_url}}"><img src="{{product.images.url}}"></a>" <!--to get product detail page while clicking image in the store page, we need to wrap image tag inside <a href="{{product.get_url}}"></a>-->
                    
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>  <!--While clicking product name in the store it goes to product_detail page-->
                        <div class="price-wrap mt-2">
                            <span class="price">₹ {{product.price}}</span>
                            <!--<del class="price-old">$1980</del>-->
                        </div> <!-- price-wrap.// -->
                    </div>
                    
                    <a href="{{ product.get_url }}" class="btn btn-block btn-primary">View Details </a>
                   
                    
                </figcaption>
            </figure>
            <!-- Display product offer details -->
            {% if product.product_offer %}
            <div class="product-offer">
                <h5>Special Offer</h5>
                <p>Discount: {{ product.product_offer.discount_percentage }}%</p>
                <p>Start Date: {{ product.product_offer.start_date }}</p>
                <p>End Date: {{ product.product_offer.end_date }}</p>
            </div>
        {% endif %}
        </div> <!-- col.// -->
        {% endfor %}
        {% else %}
        <div>
            <h2>No Result Found.</h2>
        </div>
        {% endif %}
    
    </div> <!-- row end.// -->
    
    
    <nav class="mt-4" aria-label="Page navigation sample">
    {% if products.has_other_pages %}
        <ul class="pagination">
        {% if products.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>   <!--no previous the disabled-->
        {% endif %}
        {% for i in products.paginator.page_range %}
            {% if products.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
        {% endfor %}

        {% if products.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>   <!--no next the disabled-->
        {% endif %}
      </ul>
    {% endif %}
    </nav>
    
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}