{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
        <div class="img-big-wrap mainimage">
           <img src="{{ single_product.images.url}}"></a>
        </div> <!-- img-big-wrap.// -->
        
    </article> <!-- gallery-wrap .end// -->
    <ul class="thumb">
        <li>
            {% for i in product_gallery %}
            <a href="{{i.image.url}}" target="mainimage"><img src="{{i.image.url}}" alt="Product Image"></a>
            {% endfor %}
        </li>
    </ul>
            </aside>
            <main class="col-md-6 border-left">




      
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
   {% endblock %}