{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    
    <h4 class="text-center mb-10">Review Your Order And Make Payment</h4>
    <div class="row">
        
        <aside class="col-lg-8">
            <div class="card" >
                <h5 class="card-header">Billing Address</h5>
                <div class="card-body">
                    
                    <p class="card-text mb-0">{{order.first_name}} {{order.last_name}}</p>
                    <p class="card-text mb-0">{{order.full_address}}</p>
                    <p class="card-text mb-0">{{order.city}},{{order.state}}</p>
                    <p class="card-text mb-0">{{order.country}}</p>
                    <p class="card-text mb-0">{{order.email}}</p>
                    <p class="card-text mb-0">{{order.phone}}</p>
                
                {% if order.order_note %}
                    <b>Order Note: </b> {{order.order_note}}
                {% endif %}
                </div>
            </div>
            <div class="card" >
                <h5 class="card-header">Payment Method</h5>
                <div class="card-body">
                  <p class="card-text">PayPal</p>
                </div>
            </div>
            <div class="card" >
                <h5 class="card-header">Review Products</h5>
                <div class="card-body">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                          <th scope="col">Product</th>
                          <th scope="col" width="120">Quantity</th>
                          <th scope="col" width="120">Price</th>
                         
                        </tr>
                        </thead>
                        <tbody>
                    
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>   <!--get image in cart,this image taken from PopularProduct. product is the instance of popularproduct set in cart views-->
                                    <figcaption class="info">
                                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>   <!--get_url from storeitem- model-->
                                        <p class="text-muted small">
                                            {% if cart_item.variations.all %}
                                                {% for item in cart_item.variations.all %}
                                                    {{item.variation_category | capfirst}} : {{item.variation_value | capfirst}}<br>    <!--this is for printing selected color and size in cart-->
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td> 
                                <!-- col.// -->
                                <label for="">{{cart_item.quantity}}</label>
                            </td>
                            <td> 
                                <div class="price-wrap">
                                    <var class="price">₹ {{ cart_item.sub_total }}</var>
                                </div> <!-- price-wrap .// -->
                            </td>
                           
                        </tr>
                        {% endfor %}
                       
                        </tbody>
                    </table>
                </div>
            </div>
              
        </aside> <!-- col.// -->
        <aside class="col-lg-4">
            {% if savings > 0 %}
            <div class="savings" style="color: green; font-weight: bold;">
                You saved ₹ {{ savings }} rupees in this purchase.
            </div>
            {% endif %}
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">₹ {{total}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax:</dt>
                  <dd class="text-right">₹ {{tax}} </dd>
                </dl>
                {% if coupon %}
                
                <dl class="dlist-align">
                  <dt>Discount:</dt>
                  <dd class="text-right">₹ {{ discount }}</dd>
                </dl>
               
                {% endif %}
                  <dl class="dlist-align">
                    <dt>Wallet:</dt>
                    <dd class="text-right">₹ {{wallet_deduction}} </dd>
                  </dl>
                <dl class="dlist-align">
                  <dt>Grand_Total:</dt>
                  <dd class="text-right text-dark b"><strong>₹ {{grand_total }}</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static './images/misc/payments.png' %}" height="26">
                </p>
                

                <div id="paypal-button-container">
                    <!--Paypal button will load-->
                
                </div>

                <!-- Cash on Delivery button-->
               
                <form action="{% url 'cash_on_delivery' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="order_number" value="{{ order.order_number }}">
                    <input type="hidden" name="payment_id" value="{{ transID }}">
                    <div class="card" >
                        <h5 class="card-header">Billing Address</h5>
                        <div class="card-body">
                            <p class="card-text mb-0">{{order.first_name}} {{order.last_name}}</p>
                            
                            <p class="card-text mb-0">{{order.full_address}}</p>
                           
                            <p class="card-text mb-0">{{order.city}},{{order.state}}</p>
                            <p class="card-text mb-0">{{order.country}}</p>
                            <p class="card-text mb-0">{{order.email}}</p>
                            <p class="card-text mb-0">{{order.phone}}</p>
                            {% if order.order_note %}
                                <b>Order Note: </b> {{order.order_note}}
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-3">Cash on Delivery</button>
                </form>
            

                <!--<script>
                    document.getElementById('cash-on-delivery-btn').addEventListener('click', function() {
                        // Submit the form when the Cash on Delivery button is clicked
                        document.getElementById('cash-on-delivery-form').submit();
                    });-->
                    <script>
                        // Submit the form when the Cash on Delivery button is clicked
                        document.getElementById('cash-on-delivery-form').addEventListener('submit', function(event) {
                            // Prevent the default form submission behavior
                            event.preventDefault();
                            
                            // Submit the form
                            this.submit();
                        });
                </script>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->

    
    
    
    </div> <!-- row.// -->
   
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
</section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }   
            }
        }
        return cookieValue;
    }
    

        var amount = "{{ grand_total }}"
        var url = "{% url 'payments' %}"
        var csrftoken = getCookie('csrftoken');
        var orderID = "{{order.order_number}}"
        var payment_method = 'PayPal'
        var redirect_url = "{% url 'order_complete' %}"
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            // Call your server to set up the transaction
            createOrder: function(data, actions) {
                // This is where you would normally make a request to your server to create an order
                // For demonstration purposes, we'll just return a mock order ID
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: amount // Change this to the actual amount
                        }
                    }]
                });
            },
    
            
            // Call your server to finalize the transaction
            onApprove: function(data, actions) {
                // This is where you would normally make a request to your server to capture the order
                return actions.order.capture().then(function(details) {
                    // Display a success message to the buyer
                    console.log(details)
                    async function sendData(){
                        try {
                        const response = await fetch(url, {
                            method : "POST",
                            headers: {
                                "Content-type" : "application/json",
                                "X-CSRFToken" : csrftoken,
                            },
                            body: JSON.stringify({
                                orderID: orderID,
                                transID: details.id,
                                payment_method: payment_method,
                                status: details.status,
                            })
                        });
                        const responseData = await response.json();
                        console.log("Response:", responseData);
                        // Log success message and indicate transaction completion
                        //console.log('Success:', responseData);
                        //console.log('Transaction completed');
                        window.location.href = redirect_url + '?order_number='+responseData.order_number+'&payment_id='+responseData.transID;  //here fetch order number and payment id inside data to show transaction details
                        }catch (error){
                            console.error("Error:", error);
                        }

                    }
                    // Call sendData function to send JSON data to your server
                    sendData();
                });
            }
        }).render('#paypal-button-container');
    </script>
    

{% endblock %}
